%footer{:class => "footer"}
  .container
    %p{:class => "pull-right"}
      <a href="/">Back to Top</a>
    %p
      Powered by <a href="http://rubyonrails.org/">Rails 3.2</a>, <a href="http://nodejs.org/">Node.js</a>, <a href="http://haml-lang.com/">Haml</a>, <a href='http://twitter.github.com/bootstrap/'>Bootstrap 1.4.0</a>.<br>
      Code dual licensed under the <a href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a>/<a href="http://www.gnu.org/copyleft/lesser.html">LGPLv3</a>. Documentation licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/">CC (BY-ND) 3.0</a>.
